@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    overflow-x: visible;
    z-index: 1;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
}
.fonts span{
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}
.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}
.arts-menu ol {
    list-style-type: none ;
    width: 250px;

}
.profile{
    display: none;
    z-index: 1;
}
.profile-menu:hover .profile{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;
    
}
.profile ol{
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}
.profile ol li{
    margin-bottom: 20px; 
}
.profile i{
    color:black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 110px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}
/* -------- user profile edit ------------- */

.fa-user{
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}

/*---------------Cart items --------- */

/* 
h1{
   font-size: 40px;
   font-weight: 800;
   letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom:40px ;
}
.orders{

    margin-left: 110px;
    margin-right: 120px;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.book_info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
th{
    font-size: 24px;
    text-align:center;
    padding: 10px;
    color: black;
    background-color:#e8ad3e;
    font-weight: 700;
    
}
td{
    text-align: center;
    padding: 10px 5px;  
    font-size: 23px;
    font-weight: 600;
}
td input{
    width: 45px;
    height: 40px;
    padding: 7px;
    outline: none;
    font-weight: 700;
}
td a{
    color: #ff523b;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
}
td img{
    width: 120px;
    height: 120px;
    margin-right: 25px;
    margin-left: 23%;
}
.div{
    margin-top: 23px;
}
.div p{
    font-size: 26px;
    font-weight: 700;;
}

/* total price */
/* .total_price table th{
    background-color: white;
}
.total_price{
    display: flex;
    margin-left: 860px;
    margin-bottom: 20px;
} 
.total_price table{
    border-top: 2px solid red;
}
.btn{
    margin-left: 1100px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #fcbf4b;
    color: black;
    opacity: 0.8;
    transition: 0.3s ;
}
.btn:hover{
    opacity: 1;
    color: black;
}
.orders_list{
    margin-bottom: 120px;
}  */

.my-cart{
    font-family:'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color:#1c3a1c;
  }
 
  tr th{
    background-color:  #e4ad4d;
      color: black;
  }
  th{
    padding:20px 50px;
    margin-left:50px;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    font-weight: 700;
  }
  td{
    margin-left: 50px;
    text-align: center;
    padding-top:20px;
  }
  td input{
    max-width: 25px;
  }
  
  table{
    margin:50px 100px 100px 170px;
    padding-bottom: 20px;
    /* margin-left:200px; */
    border-style: solid;
    border-color: lightgray;
  }
  .orders h1{
    margin-left:200px;
  }
  .cart-total{
    display:flex;
    justify-content: space-between;
  }
  .cart-amt{
    border-style: solid;
    border-color: lightgray;
    max-width: 500px;
    margin-left:660px;
    padding:30px;
  }
  .cart-amt p{
    font-family:'Montserrat', sans-serif;
  }
  
  .cart-amt h2{
    font-family:'Montserrat', sans-serif;
    font-size:xx-large;
    font-weight: 700;
    margin-top:-7px;
    color:#1c3a1c;
  }
  .checkout{
    margin-top: 15px;
    padding: 20px;
    border: none;
    background-color:  #e4ad4d;
    color: black;
    width: 500px;
    font-weight: 700;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
table img{
    width: 40%;
}
 /* -------------------Wishlist-page------------------- */ 


/*-------------------users option edit-------------------- */
/* .orders select{
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.btn_2:hover{
    background-color: #ff8383;
    text-decoration: underline;
}
hr{
    border: 1px solid black;
    outline: none;
    width: 100%;
}
.btn_2{
    transition: 0.2s;
    position: absolute;
    right:11%;
    cursor: pointer;
    margin-top: 20px;
    padding:  10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    outline: none;
    border-radius: 12px;
    border: none;
} */


/*---------------start the footer content------ */
footer{
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 300px;
    
}
.bookstore_logo img{
    width:200px;
    max-width: 1000px;

}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row ul li{
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
}
footer h3{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.icons{
    color: white;
}
.contact_us .useful_links{
    align-items:center;
}
.icons i{
    font-size: 30px;
    padding-left:20px;
}
.icons h3{
    margin-left: 45px;
    color: red;
}
.useful_links h3{
    margin-left: 5px;
}
.row ul li:hover{
    text-decoration: underline;
    color:crimson;
}
/* -----END OF THE FOOTER CONTENT-----*/
.quantity {
    display: flex;
    margin-left: 80px;

}
.quantity i{
    color: black;
    font-size: 28px;
    cursor: pointer;
}
.fa-plus{
    margin-left: 20px;
}
.fa-minus{
    margin-right: 20px;
}
.countCart i{
    font-size: 29px;
    color: rgb(195, 192, 192);
}
.countCart{
    display: flex;
    margin-left:72px;
    margin-top: 55px;
}
.countCart p{
    margin-right: 15px;
    margin-left:15px ;
}
#remove{
    cursor: pointer;
    color: red;
}
#increament{
    font-size: 70px;

}
