@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}
.navigation hr{
    margin-bottom: 4px solid blue;
    margin-top: 10px;
    width: 84%;
    height: 0;
    margin-left:90px;
}
.home-page{
    margin-left: 178px;
    margin-top: 20px;
    border: 1px solid orange;
    width:260px;
    font-weight: 800;
}
.home-page a{
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}
.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
}

.fonts span {
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}

.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option {
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}

.arts-menu ol {
    list-style-type: none;
    width: 250px;

}

.profile {
    display: none;
    z-index: 1;
}

.profile-menu:hover .profile {
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;

}

.profile ol {
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}

.profile ol li {
    margin-bottom: 20px;
}

.profile i {
    color: black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 90px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}

/* -------- user profile edit ------------- */

.fa-user {
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}

/*----- PROFILE EDIT --------*/


.profile-img img {
    width: 100px;
    height: 100px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 80px;
}

.profile-box {
    margin-left: 170px;
    background-color: #e3b45f;
    border-radius: 10px;
    width: 260px;
    height: 470px;
    margin-top: -85px;
}
.profile-box hr{
    height: 0;
    width: 80%;
    margin-left: 30px;
    margin-top: 1px solid grey;
}


.profile-img h3 {
    margin: 15px auto;
    margin-left: 85px;
    letter-spacing: 1px;
}
.profile-options h2:hover{
    cursor: pointer;
    text-decoration: underline;
}

.profile-options {
    font-size: 14px;
    margin-left: 55px;
    margin-top: 15px;
}

.profile-options h2 {
    margin-bottom: 25px;
}

.container {
    display: flex;
    align-items: center;
}

.user-edit {
    margin-left: 10px;
    background-color: #e3b45f;
    border-radius: 10px;
    margin-top: 31px;

}

.user-inp input {
    margin: 17px auto;
    height: 33px;
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    width: 315px;

}

.user-inp input{
    margin-left: 20px;
}

.user-inp label {
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-left: 30px;
}

.user-inp a {
    margin-left: 30px;
}

.user-inp button {
    margin-left: -8px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    width: 315px;
    border: none;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    background-color:lightgray;

}
.user-inp button:hover{
    text-decoration: underline;
    
}



.user-inp textarea {
    font-size: 17px;
    font-size: 600;
    resize: none;
    padding-left: 17px;
    line-height: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

.user-inp input::placeholder {
    padding-left: 20px;
    font-size: 17px;
    font-weight: 500;
}

.user-inp h1 {
    text-align: center;
    margin-top: 25px;
    letter-spacing: 1px;
    font-size: 34px;
    text-decoration: underline;
}

#last-name {
    margin-left: 20px;
}

.user-inp textarea {
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.user {
    width: 825px;
    height: 560px;
}





/*---------------start the footer content------ */
footer {
    width: 100%;
    background-color: #000;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 600;
    padding: 60px 0 20px;
    margin-top: 100px;
    height: 310px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 1000px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 33px;
    padding-left: 30px;
}

.icons h3 {
    margin-left: 70px;
    color: red;
    font-size: 20px;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/* -----END OF THE FOOTER CONTENT-----*/