@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    overflow-x: visible;
    z-index: 1;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
}
.fonts span{
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}
.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}
.arts-menu ol {
    list-style-type: none ;
    width: 250px;

}
.profile{
    display: none;
    z-index: 1;
}
.profile-menu:hover .profile{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;
    
}
.profile ol{
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}
.profile ol li{
    margin-bottom: 20px; 
}
.profile i{
    color:black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 110px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}
/* -------- user profile edit ------------- */

.fa-user{
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}



/* ---------------ORDER PLACED EDIT ---------------------*/

fieldset{
    border: none;
    margin-top: 80px;
    border-radius: 16px;
    width: 47%;
    height: 550px;
    margin-left: 400px;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

legend{
    font-size: 0px;
    color: white;
}

.order_placed{
    margin-top: 20px;
}
fieldset img{
    margin-top: 10px;
    width: 190px;
    margin-left: 250px;
}
.order_placed p{
    margin-left: 275px;
    font-size: 21px;
    font-weight: 800;
}
.order_placed h3{
    margin-top: 20px;
    margin-left: 130px;
    font-size: 45px;
    font-weight: 900;
}
.order_placed h4{
    
    margin-top: 5px;
    font-size: 25px;
    font-weight: 700;
    margin-left: 229px;
}
.span-1{
    color: red;
    font-weight: 900;
    font-size: 45px;
}

span{
    font-size: 35px;
}
.order_placed button{
    margin-top:30px;
    margin-left: 246px;
    padding: 10px 25px;
    color:black;
    border:2px solid rgb(229, 165, 45);
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.fa-sharp{
    color: rgb(228, 171, 65);
    margin-right: 10px;
    font-size: 20px;
}
button:hover{
    text-decoration: underline;
    background-color: lightgrey;
    color: black;
}


/*---------------start the footer content------ */
footer{
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 300px;
    margin-top: 130px;
    
}
.bookstore_logo img{
    width:200px;
    max-width: 1000px;

}
.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row ul li{
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
}
footer h3{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.icons{
    color: white;
}
.contact_us .useful_links{
    align-items:center;
}
.icons i{
    font-size: 30px;
    padding-left:20px;
}
.icons h3{
    margin-left: 45px;
    color: red;
}
.useful_links h3{
    margin-left: 5px;
}
.row ul li:hover{
    text-decoration: underline;
    color:crimson;
}
/* -----END OF THE FOOTER CONTENT-----*/
