@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    overflow-x: visible;
    z-index: 1;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
}
.fonts span{
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}
.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}
.arts-menu ol {
    list-style-type: none ;
    width: 250px;

}
.profile{
    display: none;
    z-index: 1;
}
.profile-menu:hover .profile{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;
    
}
.profile ol{
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}
.profile ol li{
    margin-bottom: 20px; 
}
.profile i{
    color:black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 110px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}
/* -------- user profile edit ------------- */

.fa-user{
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}


/* ------Start the payment gateway content----- */

.container-1{
    display: flex;
    justify-content: space-between;
}


span{
    font-size: 19px;
    font-weight:800;
    text-transform: capitalize;
    letter-spacing: 1px;

}
.payment{
    background-color: whitesmoke;
    width: 45%;
    height: 685px;
    margin-left: 80px;
    margin-top: 190px;
    padding: 35px;
    border-radius: 12px;
}
.vl{
    border-right: 3px solid orange;
    height: 690px;
    outline: none;
    position: absolute;
    right: 47%;
    top: 42%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.title-1{
    margin-bottom: 3px;
    font-size :27px;
    font-weight: 800;
    color: orange;
    letter-spacing: 1px;
    margin-left: 14px;

}
.title{
    margin-left:15px;
    font-size: 27px;
    letter-spacing: 1px;
    color: orange;
    font-weight: 800;
}
.input_box{
    padding: 15px;
}
.input_box img{
    margin-top: 12px;
}
.container-2{
    margin-left: 30px;
}
.input_box input{
    margin-top: 12px;
    height: 39px;
    width: 110%;
    outline: none;
    border: 2px solid rgb(195, 195, 195);
    border-radius: 5px;
}
input::placeholder{
    font-size: 15px;
    padding:9px;
}
input{
    padding-inline-start: 5px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: 600;
    font-size: 17px;
    
}
.box_flex{
    display: flex;
    align-items: center;
}

/* --------------place order--------- */
.place_order{
    margin-top: 15px;
    width: 40%;
    margin-left: 170px;
    padding: 12px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color:black;
    border: none;
    background-color:rgb(229, 168, 54);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.8;
}
.place_order:hover{
    text-decoration: underline;
    background-color:rgb(221, 169, 71);
    opacity: 1;
    
}
.user_edit{
    margin-top: 15px;
    width: 20%; 
    padding: 12px;
    margin-left: 20px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color:black;
    border: none;
    background-color:rgb(229, 168, 54);
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.8;
}
.user_edit:hover{
    text-decoration: underline;
    background-color:rgb(221, 169, 71);
    opacity: 1;
}


/* payment edit */

.other-pay{
    margin-right: 200px;
    margin-top: 200px;
}
.other-pay input{
    margin-top:45px;
}
.other-pay input[type="checkbox"]{
    width:38px;
    height: 14px;
   
}
.checkbox span{
    font-size: 20px;
    font-weight: 800;
}
.select-date{
    margin-left: 860px;
    position: absolute;
    bottom:-9%;
}
.select-date input{
    margin-top: 30px;
    height: 16px;
    width: 48px;
}
.select-date h3{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 700;

}
.select-date span{
    margin-left: 10px;
}
.tot-pay{
    margin-top: -130px;
    height:900px ;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;

}
/*---------------start the footer content------ */
footer{
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 300px;
    margin-top: 120px;
    
}
.bookstore_logo img{
    width:200px;
    max-width: 1000px;

}

.row ul li{
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
}
footer h3{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.icons{
    color: white;
}
.contact_us .useful_links{
    align-items:center;
}
.icons i{
    font-size: 30px;
    padding-left:20px;
}
.icons h3{
    margin-left: 45px;
    color: red;
}
.useful_links h3{
    margin-left: 5px;
}
.row ul li:hover{
    text-decoration: underline;
    color:crimson;
}
/* -----END OF THE FOOTER CONTENT-----*/