@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    overflow-x: visible;
    z-index: 1;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
}
.fonts span{
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}
.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}
.arts-menu ol {
    list-style-type: none ;
    width: 250px;

}
.profile{
    display: none;
    z-index: 1;
}
.profile-menu:hover .profile{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;
    
}
.profile ol{
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}
.profile ol li{
    margin-bottom: 20px; 
}
.profile i{
    color:black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 110px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}
/* -------- user profile edit ------------- */

.fa-user{
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}


/*-------------- End of the nagivation ------- */

/* -------- Start of the Product detail content ------ */

a {
    text-decoration: none;
    color: black;
}

.product_img img {
    width: 510px;
    height: 590px;

}


.products {
    margin-top: 90px;
    display: flex;
    /* justify-content: space-between; */
    margin-left: 40px;

}

.btn-cart a {
    position: relative;
    bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1;
    left: 70px;
    opacity: 0.8;
    background-color: #ed9530;
    color: black;
    padding: 10px 18px;
    border-radius: 6px;
    margin-left: 24px;
    transition: all 0.2;
}

.btn-cart a:hover {
    opacity: 1;
}

main {
    max-width: 1240px;
    margin-left: 120px;

}

.product_details a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;

}

.product_details {
    margin-left: 70px;
}

.product_details h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 900;
}

.product_details h4 {
    font-size: 24px;
    color: rgb(219, 46, 46);

}

.product_details s {
    margin-left: 15px;
}

.product_details input {
    margin-top: 40px;
    padding-left: 18px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    border: 1px solid orange;
    outline: none;
}

.product_details>.btn {
    background-color: #e9622f;
    font-weight: bold;
    color: white;
    border-radius: 6px;
    padding: 8px 20px;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    transition: 0.3s;
}

.product_details>.btn:hover {
    background: #b5512d;
}

.product_details h2 {
    font-size: 25px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 12px;

}

.product_details p {
    font-size: 20px;
    line-height: 33px;
    font-weight: 700;
}

main hr {
    /* border: none; */
    border-top: 1.4px solid black;
    outline: none;
    margin-top: 40px;
    width: 101%;
    margin-left: 40px;
}

/*-----------END OF THE ORDER PAGE CONTENT----- */


/*-------START OF THE FEATURED PRODUCTS--------- */
.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: 200px;
    margin-top: 20px;
}

.author-img img {
    border-radius: 120%;
    width: 140%;
    margin-top: -10px;
    margin-right: 120px;

}

.author-content p {
    margin-left: 60px;
    line-height: 28px;
    text-transform: capitalize;
    text-align: justify;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-author h2 {
    font-size: 29px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 200px;
}

/*---- END OF THE AUTHOR CONTENT -------- */

/*----- PRODUCT DETAILS ------- */

.book-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    margin-top: 30px;
    margin-left: 110px;
}

.book-details h2 {
    color: tomato;
    font-size: 30px;
    font-size: 800;
    letter-spacing: 1px;
    margin-left: 195px;
    margin-top: 60px;
}

.book-details span {
    font-size: 18px;
    font-weight: 300;
    color: red;
}

.book-detail h3 {
    margin-top: 10px;
    font-size: 20px;
}

.book-details hr {
    border-top: 1.6px solid black;
    outline: none;
    width: 86%;
    margin-left: 145px;
    margin-top: 50px;
}

/*------ END OF THE PRODUCTR DETAILS ------- */


/*------ START THE SIMILAR PRODUTS ------ */

.books {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-left: 20px;

}

.book-img {
    margin-right: 33px;
    transition: 0.5s;
}

.book-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transform: scale(0.9);
}

.book-img img {
    transition: 0.5s;
}

.trends {
    max-width: 1290px;
    margin-left: 122px;
}

.trends h2 {
    margin-top: 90px;
    margin-left: 22px;
    font-size: 41px;
    font-weight: 800;
    letter-spacing: 1px
}

.arrow-right>.fa-solid {
    color: black;
    border-radius: 10%;
    padding: 10px;
    border: 1px solid indigo;
    font-size: 30px;
    position: absolute;
    right: 2%;
    bottom: -140%;
}

.books img {
    width: 190px;
    height: 290px;
    margin-top: -10px;
}


.book-info {
    max-width: 300px;
    margin-left: 5px;

}

.book-info p {
    margin-top: -29px;
}

.book-info p,
h3,
.rating {
    margin-bottom: 10px;
}

.trends hr {
    border: none;
    margin-top: 10px;
    border-top: 2px solid grey;
    height: 0;
    width: 100%;
    margin-top: 20px;
    margin-left: 22px;
}

.bottom-hr1 hr {
    margin-top: 30px;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.more-btn {
    margin-left: 550px;
    margin-bottom: 80px;
    position: absolute;
    bottom: -72%;

}

.more-btn button {
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    cursor: pointer;

}

.book-info>p {
    font-size: 19px;
    font-weight: 800;
}

.book-info>a>button {
    width: 90%;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: black;
    text-transform: capitalize;
    transition: 0.3s;
}

.book-info>a>button:hover {
    color: white;
    opacity: 1;
    background-color: #df4257;
}

/*------- Create ADD to CART ------- */
.trend_book>a>input {
    position: relative;
    font-size: 18px;
    background-color: black;
    border: none;
    color: white;
    padding: 9px;
    cursor: pointer;
    text-transform: uppercase;

}

.add {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: -43px;
    left: 0px;
    transition: 0.5s;
}

.trend_book:hover .add {
    opacity: 1;
}

.book-info>h3 {
    font-size: 18px;
}

.book-info>h3>s {
    margin-top: 2px;
    color: red;
    margin-left: 63px;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-head a {
    color: red;
    font-size: 19px;
    font-weight: 400;
    margin-top: 100px;
}
.fa-star {
    color: orange;
    font-size: 17px;
}

/*-----End of the best seller books------- */

/*---- Start the New letter Form-------- */

.news-form {
    max-width: 900px;
    margin-top: 60px;
    margin-left: 290px;
    text-align: center;
}

.news-form h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    color: orange;
}

.news-form p {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 50px auto;
    line-height: 30px;
    letter-spacing: 1px;
}

.email-box i {
    color: black;
    background: orange;
    width: 45px;
    border-radius: 5px;
    padding: 6px;
    line-height: 30px;
}

.email-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 45px;
    width: 880px;
}

.tbox,
.sub-btn {
    outline: none;
    border: none;
}

.tbox {
    border: 2px solid orange;
    border-radius: 4px;
    width: 0px;
    transition: 0.6s;

}

.email-box:hover>.tbox,
.tbox:focus {
    width: 500px;
    padding: 0px 10px;
}

.email-box a .sub-btn{
    text-transform: uppercase;
    padding: 0 10px;
    background: orange;
    height: 45px;
    border-radius: 4px;
    margin-left: -18px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* ------ End of the Newletter Form-------- */




/*--------------- Start the footer content ----------------- */
footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 600;
    padding: 60px 0 20px;
    margin-top: 90px;
    height: 320px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 1000px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;

}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 30px;
    padding-left: 20px;
}

.icons h3 {
    margin-left: 45px;
    color: red;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/*---------------  END OF THE FOOTER CONTENT -------------- */


.james-clear1 img{
    border-radius: 140%;
    width: 94%;
    margin-top: -10px;
    
}
.james-clear2 p{
    margin-left: 5px;
}
.napolean-hill img{
    border-radius: 117%;
    width: 144%;
    height: 165px;
    margin-top: -10px;
    margin-right: 115px;
}
.Robert img{
    border-radius: 100%;
    width: 178%;
    height: 170px;
    margin-top: -10px;
    margin-right: 97px;
    margin-left: -1px;
}
.Robert2{
    margin-left: 30px;
}
.Rhonda img{
    border-radius: 120%;
    width: 140%;
    margin-top: -10px;
    margin-right: 120px;
    height: 172px;
}
.David img{
    border-radius: 120%;
    width: 140%;
    margin-top: -10px;
    margin-right: 120px;
    height: 172px;
}