* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Montserrat',sans-serif;
    width:100%;
}

a {
    text-decoration: none;
    color: black;

}

nav {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}


.navigation ul li::after {
    content: '';
    background-color: red;
    display: block;
    height: 4px;
    width: 0%;
    margin: auto;


}

.navigation ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}


/* search books input */

.search_bar {
    position: fixed;
    top: 3.5%;
    left: 14%;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    width: 534px;
    border: 2px solid grey;
}

::placeholder {
    padding-left: 30px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}
.search_bar img{
    position:fixed;
    right: 50.2%;
    top: 3.7%;
    padding: 10px;
    border-radius: 5px;
    width: 51px;
    background-color: #d3d3d3;
    color: white;
}


.container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 100%;
    height: 110px;
    margin-bottom: 110px;
}

.head_img img {
    width: 180px;
}

.navigation ul {
    margin-right: 30px;
    display: flex;
    list-style-type: none;

}

.navigation ul li {
    font-size: 19px;
    font-weight: 900;
    margin-left: 80px;
}

/* -------- banner img edit ------- */
.banner_img {
    margin-top: 114px;

}

.banner_img img {
    width: 100%;
    height: 500px;
}

/* ----------------------- Start the main Content ------------------------ */
.books-rows {
    background-color: rgb(242, 242, 242);
    height: 1840px;

}

.book_cards img:hover {
    transform: scale(0.9);

}

.book_cards img {
    transition: 0.5s;
}

.container_2 {
    text-align: center;
    margin-top: 80px;
    color: #555;

}

.container_2 h1 {
    padding-top: 30px;
    font-weight: 600;
}

.book_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 16px;
    max-width: 100%;
    margin: 0px auto;


}

.book_cards img,
.col-2 img,
.col-3 img {
    padding: 15px;
    border-radius: 30px;
    width: 260px;
    margin-left: 13px;
    height: 290px;

}

.book_cards,
.col-2,
.col-3 {
    border-radius: 20px;
}

.book_cards {
    margin-top: 50px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.book_cards h4 {
    margin-left: 42px;
    width: 200px;
    color: black;
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 100;
}

.book_cards p {
    margin-left: 44px;
    width: 245px;
    font-size: 16px;
    font-weight: 100;
}



.book_cards p>b {
    color: rebeccapurple;
    font-size: large;
    text-decoration: underline;
    letter-spacing: 1px;
}

.book_cards button {
    margin-left: 18px;
    font-weight: 200;
    padding: 8px 17px;
    margin-bottom: 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    transition: 0.3s;
}

.book_cards button:hover {
    background-color: #f7000074;
    color: black;

}

.rating {
    color: #ff523b;
    margin-left: 42px;
    margin-bottom: 10px;
}

.rating2 {
    margin-top: 35px;
    margin-left: 42px;
    color: #ff523b;
    margin-bottom: 10px;
}

.rating2 p {
    margin-left:42px;
}

.book_cards:hover {
    transform:translateY(-20px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-bottom: 80px;
    margin-top: 120px;
    margin-left: 100px;
}

.title h1 {
    border-bottom: 5px solid green;
    font-style: normal;
    font-size: 37px;

}

select {
    font-size: 16px;
    border-radius: 8px;
    padding-left: 15px;
    outline: none;
    border: 2px solid green;
    cursor: pointer;
}

/*----------------- end of the manin content -------------- */



/*------- START OF THE FEATURED PRODUCTS --------- */


.motivational {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;

}

.motivational_books>h1 {
    margin-top: 85px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: #555;
}
.btn{
    margin-left: 670px;
    margin-top: 10px;

}
.btn button{
    cursor: pointer;
    font-size: 17px;
    padding: 12px 30px;
    border-radius: 12px;
    border: 2px solid rgb(117, 229, 117);
    transition: 0.3s;
    font-weight: 600;
}
button:hover{
    background-color: rgb(165, 214, 165);
    color: black;
}


/*---------------start the footer content------ */
footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
    height: 300px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 10 00px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;

}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 30px;
    padding-left: 20px;
}

.icons h3 {
    margin-left: 45px;
    color: red;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/*---------------END OF THE FOOTER CONTENT------ */