@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-heart,
.fa-cart-shopping {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
    /* position: fixed;
    top: 4%; */
}
/* .fa-heart{
    margin-left: -30px;
} */

.fonts span {
    position: absolute;
    left: 83%;
    top: 30%;
    font-size: 20px;
}

.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option {
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}

.arts-menu ol {
    list-style-type: none;
    width: 250px;

}

.profile {
    display: none;
    z-index: 1;
}

.profile-menu:hover .profile {
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;

}

.profile ol {
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}

.profile ol li {
    margin-bottom: 20px;
}

.profile i {
    color: black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 91px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}

/* -------- user profile edit ------------- */

.fa-user {
    margin-left: 5px;
    font-size: 24px;
    color:black;
}


/* ----------------------- Start the main Content ------------------------ */

.container{
    display: flex;
}
.self-help{
    max-width: 258px;
    margin-left:20px;
    margin-top: 73px;

}
.self-help hr{
    height: 0;
    width: 85%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    border-top: 1.5px solid lightgray;
}

.self-help h1{
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 800;
    margin-left: 18px;
}
.user-refine input,h3{
    margin-left: 20px;
    margin-top: 10px;
}
.book-lang input,span{
    margin-top: 10px;
    margin-left: 20px;

}
input[type="range"]{
    width: 220px;
}
.more a {
    margin-left: 200px;
    font-size: 18px;
    color:darkblue;
    font-weight: 700;
}
.book-lang{
    margin-top: 12px;
}
.fa-filter{
    color: orange;
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}
.vl{
   border-right: 2px solid grey;
   height: 750px;
   position: absolute;
   left: 21%;
   top: 32%;  
}
.vl-2{
    height: 900px;
}
/*----- Trending Books---------------- */

.books {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 22px;
}

.book-img {
    transition: 0.5s;
    width: 131px;
    margin-left: 60px;
}

.book-img img:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transform: scale(0.9);
}

.book-img img {
    transition: 0.5s;
}

.trends {
    max-width:1073px;
    margin-left: 25px;
}

.trends h2 {
    font-size: 41px;
    font-weight: 800;
    letter-spacing: 1px
}



.books img {
    width: 190px;
    height: 290px;
    margin-top: -10px;
}


.book-info {
    max-width: 210px;
    margin-left: 5px;

}

.book-info p {
    margin-top: -29px;
    width: 200px;
}

.book-info p,
h3,
.rating {
    margin-bottom: 10px;
}

.fa-star{
    color: orange;
}


.bottom-hr1 hr {
    margin-top: 30px;
    margin-top: 30px;
    height: 0;
    border-top: 2px solid grey;
    margin-left: 69px;
    width: 98%;
}

::-webkit-scrollbar {
    scroll-behavior: smooth;
}

.more-btn {
    margin-left: 550px;
    margin-bottom: 90px;
    position: absolute;
    bottom: -72%;

}

.more-btn button {
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    cursor: pointer;

}

.book-info>p {
    font-size: 19px;
    font-weight: 800;
}

.book-info>a>button {
    width: 140%;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    color: black;
    text-transform: capitalize;
    transition: 0.3s;
}

.book-info>a>button:hover {
    color: white;
    opacity: 1;
    background-color: #df4257;
}

/*------- Create ADD to CART ------- */
.trend_book>a>input {
    position: relative;
    font-size: 18px;
    background-color: black;
    border: none;
    color: white;
    padding: 9px;
    cursor: pointer;
    text-transform: uppercase;

}

.add {
    width: 145%;
    opacity: 0;
    position: absolute;
    top: -43px;
    left: 0px;
    transition: 0.5s;
}

.trend_book:hover .add {
    opacity: 1;
}

.book-info>h3 {
    font-size: 18px;
    margin-left: 0;
}

.book-info>h3>s {
    margin-top: 2px;
    color: red;
    margin-left: 63px;
}

.section-head {
    display: flex;
    margin-top: -16px;
    justify-content: space-between;
    align-items: center;
    margin-left: -52px;
}
.section-head h2{
    font-size: 20px;
    letter-spacing: normal;
    margin-top: 88px;
    margin-left: 110px;
}
.section-head h3{
    margin-left: -170px;
    margin-top: -16px;
    font-size: 37px;
    font-weight: 400;
    font-style:italic;
}
.section-head a {
    color: red;
    font-size: 19px;
    font-weight: 400;
    margin-right: -51px;
    margin-top:80px;
}
.load-more{
    margin-left: 520px;
    font-size: 19px;
    font-weight: 600;
}

/*------------- End of the trending books ------------ */


/*--------------- Start the footer content ----------------- */


footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 17px;
    padding: 60px 0 20px;
    margin-top: 70px;
    height: 330px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 1000px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;

}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 30px;
    padding-left: 20px;
}

.icons h3 {
    margin-left: 45px;
    color: red;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/*---------------  END OF THE FOOTER CONTENT -------------- */


