* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat',sans-serif;
}

a {
    text-decoration: none;
    color: rgb(104, 201, 180);
}

/* ----------- Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: absolute;
    top: 0%;
    box-shadow: -2px 15px 10px -12px rgb(81 102 131 / 85%);
    width: 100%;
    padding: 35px;
    background-color:rgb(242, 240, 240);
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
    padding: 11px;

}

/*----------- start the forms ---------- */
form {
    width: 34%;
    padding: 20px;
    margin-top: 1100px;
    margin-right: 470px;
    margin-bottom: 200px;
    outline: none;
    background-image: linear-gradient(rgb(92, 92, 92,0.2),rgb(92, 92, 92,0.2)), url('../images/backgorund\ img\ for\ signup.avif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}
.head_img img{
    filter: blur(6px);
}

label{
    margin-left: 30px;
}

input {
    width: 380px;
    height: 45px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 1em;
    font-size: 18px;
}
::placeholder{
    font-size: 17px;
    letter-spacing: 1px;
    font-style: normal;
    padding-left: 20px;
}

.login h1 {
    text-align: center;
    color:rgb(108, 229, 108);
    letter-spacing: 3px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 15px;
}
.email input{
    margin-top: 20px;
}
.create-password{
    margin-top: 33px;
}
.confirm-pass input{
    margin-top: 30px;
} 
.container_login label{
    color: white;
    font-weight: 800;
    font-size: 20px;
}
#email {
    margin-bottom: 20px;
}

.btn-login {
    margin-bottom: 3em;
}

.login-btn {
    text-align: center;
    background-color: burlywood;
    color: black;
    margin-left: 130px;
    padding: 1em 2.5em;
    transition: 0.2s;
    border-radius: 9px;
}

.login-btn:hover {
    background: lightslategrey;
    color:white;

}


footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 300px;
    position: absolute;
    width: 100%;
    top: 900px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 1000px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;

}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 30px;
    padding-left: 20px;
}

.icons h3 {
    margin-left: 45px;
    color: red;
}

.useful_links h3 {
    margin-left: 5px;
}
.row ul li:hover{
    text-decoration: underline;
    color:crimson;
}
/* --------END OF THE FOOTER------ */
