* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #b9b9b9; */
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    top: 0%;
    box-shadow: -2px 15px 10px -12px rgb(81 102 131 / 85%);
    width: 100%;
    padding: 35px;
    background-color: #e4e4e4;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

/* -------------- EDIT THE TOP SEARCH BAR ------  */
.search_bar {
    position: absolute;
    top: 3%;
    left: 26%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 600px;
}

::placeholder {
    padding-left: 30px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}

.navi1 img {
    width: 50px;
    color: white;
    position: absolute;
    top: -11%;
    right: 37.4%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

}

/* -----------END OF THE NAVIGATION----------- */

/* ------------start the header content------ */
.navi2 ul {
    display: flex;
    list-style-type: none;
    margin-top: 5px;

}

.head_img img {
    filter: blur(4px);
    border-radius: 12px;
}


.navi2 ul li {
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
    background-color: #ff7a6b;
    color: black;
    padding: 13px 15px;
    width: 160px;
    font-size: 18px;
    font-weight: lighter;
    transition: all 0.5s;
}

.navi2 ul a {
    text-decoration: none;

}

.navi2 ul li:hover {
    color: black;
    background-color: white;
    box-shadow: 11px 7px 13px -1px rgba(0, 0, 0, 0.75);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    position: absolute;
    top: 40px;
    left: 10%;

}

.navi1 ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    margin: 30px 0px 0px 40px;
    font-size: 20px;
}

.navi1 ul li {
    margin-left: 90px;
    height: 50px;

    /* horizontal line below the navigation */
}

.navi1 ul li::after {
    content: '';
    background-color: red;
    display: block;
    height: 3px;
    width: 0%;
    margin: auto;


}

.navi1 ul li:hover::after {
    width: 100%;
    transition: 0.5s;
}


.navi1 ul a {
    color: whitesmoke;
    text-decoration: none;
}



.main {
    margin-top: 45px;
}

.main h1 {
    margin-left: 120px;
    margin-top: 50px;
    color: white;
    font-size: 70px;
    font-weight: 500;
    font-style: italic;
    line-height: 80px;
}

.main h3 {
    font-size: 30px;
    margin-top: 30px;
    color: rgb(254, 144, 124);
}

.main p {
    margin-left: 130px;
    margin-top: 30px;
    font-size: 35px;
    color: rgb(255, 225, 224);

}

.main button {
    margin-top: 75px;
    background: #ff523f;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 30px;
    margin-left: 39%;
    border: none;
    cursor: pointer;
}

/*--------------------- drop down edit ---------------- */

.drop_down {
    display: none;
}

.navi1 ul li:hover .drop_down {
    display: block;
    position: absolute;
    top: 70px;
    left: 15%;

}

.navi1 ul li:hover .drop_down ol {
    margin-top: 20px;
    font-size: 21px;

}

.navi1 ul li:hover .drop_down ol li {
    height: 35px
}

.drop_down ol li {
    list-style-type: none;
    line-height: 17px;
}



/*---------------------------- End of the header section----------------- */

/* -----------------------start the main content------------------------ */
.books-rows {
    background-color: rgb(236, 226, 226);
    margin: 0px 30px;
    border-radius: 20px;

}

.container_2 {
    text-align: center;
    margin-top: 60px;
    color: #555;


}

.container_2 h1 {
    padding-top: 30px;
    font-weight: 600;
}

.container_2::after {
    content: '';
    background: #ff523b;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
}

.book_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px;
    max-width: 80%;
    margin: 0px auto;


}

.book_cards img,
.col-2 img,
.col-3 img {
    padding: 15px;
    border-radius: 30px;
    width: 230px;
    margin-left: 5px;
    height: 280px;

}

.book_cards,
.col-2,
.col-3 {
    border-radius: 20px;
}

.book_cards {
    width: 240px;
    margin-top: 50px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.book_cards h4 {
    margin-left: 30px;
    width: 200px;
    color: black;
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 15px;
}

.book_cards p {
    margin-left: 30px;
    width: 255px;
    font-size: 16px;
    font-weight: 100;
}

.book_cards p>b {
    color: rebeccapurple;
    font-size: large;
    text-decoration: underline;
    letter-spacing: 1px;
}

.book_cards button {
    margin-left: 10px;
    font-weight: 200;
    padding: 8px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f7000074;
    cursor: pointer;
    font-size: 16px;
    color: black;
    border: none;
}

.rating {
    color: #ff523b;
    margin-left: 30px;
    margin-bottom: 10px;
}

.rating2 {
    margin-top: 35px;
    margin-left: 30px;
    color: #ff523b;
    margin-bottom: 10px;
}

.rating2 p {
    margin-left: 30px;
}

.book_cards:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

/* --------------END OF THE BOOKS ROWS ------------*/
.banner {
    display: flex;
    align-items: center;
    background: radial-gradient(#fff, #eb90ff);
    margin-top: 120px;
    margin-bottom: 100px;
    height: 610px;

}

.ban-text p {
    text-decoration: underline;
    position: absolute;
    top: 255%;
    color: #555;
    font-size: 25px;
    font-weight: 100;
}

.ban-text h1 {
    position: absolute;
    top: 263%;
    font-weight: 900;
    font-size: 45px;
}

small {
    position: absolute;
    top: 271%;
    font-size: 16px;
    text-align: start;
    color: #555;
    line-height: 35px;
}

.ban-text button {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 284%;
    background-color: #ff523f;
    padding: 8px 30px;
    border: none;
    margin: 10px 0px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    transition: 0.5s;
}

.banner_img img {

    width: 480px;
    border-radius: 110px;
    padding: 90px;
    margin-left: 120px;
}

.ban-text button:hover {
    background-color: brown;
    color: white;
}

/*------------------MOTIVATIONAL BOOKS SECTION----------- */
.adding_books {
    background-color: #e8e8e8;
    margin-top: 120px;

}

.motivational_books::after {

    content: '';
    background: #ff523b;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -233%;
    left: 49%;
    transform: translateX(-50%);
}

.motivational {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0px auto;

}

.motivational_books>h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: #555;
}

/*------end of the motivational ---------- */

/* ------------start of the testimonial---------- */

.testo {
    margin-top: 110px;
}

.small_container {
    margin: 70px auto;
    margin-bottom: 200px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
  

}

.testi {
    max-width: 300px;
    text-align: center;
    height: 440px;
    padding: 30px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    transition: all 0.5s;

}

.testi img {
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.testi>.rating {
    margin-top: 20px;
    margin-left: -10px;
}

.testi i {
    color: yellowgreen;
}

.testi_head h1 {
    color: #555;
    font-size: 33px;
    font-weight: 600;

}

.testi p {
    color: #555;
}

.testi_head h1::after {
    content: '';
    background: #ff523b;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -314%;
    left: 50%;
    transform: translateX(-50%);
}

.testi:hover {
    transform: translateY(-20px);
}

/* --------------END OF THE TESTIMONIAL-------- */

/*---------------start the footer content------ */
footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 130px;
    height: 300px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 10 00px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 33px;
    padding-left: 30px;
}

.icons h3 {
    margin-left: 70px;
    color: red;
    font-size: 21px;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/* -----END OF THE FOOTER CONTENT-----*/