@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

button {
    cursor: pointer;
}



body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Nunito', sans-serif;
    overflow-x: visible;
    z-index: 1;
}

.navigation>ul li a {
    color: black;
    text-decoration: none;
}



/* -----------Create the navigation-------------- */
.nav {
    margin-top: 20px;
    margin-left: 10px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    top: 0%;
    width: 100%;
    padding: 35px;
    background-color: #e4ad4d;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}

.nav-logo img {
    margin-top: 3px;
}

.navi2 {
    display: flex;
    align-items: center;

}

.fonts {
    display: flex;
    list-style-type: none;
}

.navi2 ul li {
    margin-right: 60px;
    list-style-type: none;
}

.fa-regular,
.fa-solid {
    font-size: 45px;
    color: whitesmoke;
    font-weight: 300;
    
}
.fonts span{
    position: absolute;
    left: 84.3%;
    top: 40%;
    font-size: 20px;
}
.Lang_option {
    display: none;
    font-size: 19px;
}

.Lang_option li {
    margin-top: 10px;
    list-style-type: none;


}

.lang li:nth-child(1):hover .Lang_option {
    display: block;

}

.lang {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    list-style-type: none;
    display: block;
    margin-right: 60px;
    padding: 6px;

}

.lang li a {
    margin-left: 15px;
    padding-bottom: 12px;
    text-decoration: none;
    color: black;
}

.Explore-option {
    display: none;
    list-style-type: none;
    line-height: 40px;
    width: 230px;
    border-radius: 12px;
    margin-left: -10px;
    z-index: 1;

}

.explore-menu:hover .Explore-option{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
}

.Explore-option li a:hover {
    text-decoration: underline;
    transition: 0.2s;
}

.Explore-option>li a {
    margin-left: -45px;
}

.arts-menu {
    display: none;
}

.Arts-option:hover .arts-menu {
    display: block;
    position: absolute;
    background-color: rgb(222, 222, 222);
    margin-top: -28px;
    margin-left: 140px;

}
.arts-menu ol {
    list-style-type: none ;
    width: 250px;

}
.profile{
    display: none;
    z-index: 1;
}
.profile-menu:hover .profile{
    position: absolute;
    display: block;
    background-color: rgb(222, 222, 222);
    border-radius: 12px;
    
}
.profile ol{
    list-style-type: none;
    margin-top: 15px;
    margin-left: -50px;
    width: 240px;
}
.profile ol li{
    margin-bottom: 20px; 
}
.profile i{
    color:black;
    font-size: 21px;
    margin-right: 12px;
}

/* -------------- EDIT THE TOP SEARCH BAR ----------------  */


.search_bar {
    position: fixed;
    top: 3%;
    left: 18%;
    z-index: 1;
}

.search_bar input {
    padding: 13px;
    font-size: 19px;
    outline: none;
    border-radius: 8px;
    border: none;
    width: 772px;
}

::placeholder {
    padding-left: 50px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 300;

}


.navi1 img {
    width: 50px;
    color: white;
    position: fixed;
    top: 3%;
    right: 30%;
    z-index: 1;
    background-color: #d3d3d3;
    border-radius: 10%;
    padding: 12px;

    /* End of the search bar edit */
}

.navi1 ul li {
    position: absolute;
    left: 70%;
    top: 3.2%;

}

/*----------Start the navigation------- */

.navigation ul {
    background-color: rgb(222, 222, 222);
    padding: 25px;
    display: flex;
    margin-top: 110px;
    height: 90px;
    list-style-type: none;
    border-top: 1px solid navy;
}

.navigation ul li {
    font-size: 21px;
    font-weight: 900;
    margin-left: 76px;
    margin-top: 8px;
}

.fa-caret-down {
    font-size: 19px;
    color: crimson;
    margin-left: 4px;
}

.fa-sharp {
    font-size: 19px;
}
/* -------- user profile edit ------------- */

.fa-user{
    margin-left: 10px;
    font-size: 24px;
    color: darkblue;
}


/* -------------------Wishlist-page------------------- */

.fa-bag-shopping{
    color:orange;
    font-size: 38px;
    font-weight: 800;
}

.my-wish{
    margin-top: 50px;
    
}
.my-wish hr{
    height: 0;
    width: 85%;
    border-top:1.8px solid grey;
    margin-left: 160px;
    margin-top: 45px;
}
.my-wish h1{
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left:600px;
    font-size: 45px;
    font-weight: 600;
}

.mycart {
    display: flex;
    margin-left: 280px;
}

.mycart h1 {
    text-align: center;
}

.bill {
    margin-top: 30px;
    padding: 18px;
    background-color: #ededed;
    border-radius: 10px;
    width: 298px;
    margin-left: 20px;
    transition: 0.3s;

}
.bill:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.bill h2 {
    margin-bottom: 35px;
    font-size: 23px;
}

.check-bill h2 p {
    margin-left: 200px;
}


.check-bill span {
    margin-left: 80px;
    color: red;
    font-size: 22px;
    font-weight: 700;
}

.input-pro input {
    padding: 14px;
    width: 100%;
    font-size: 19px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: orange;
    border-radius:6px;
    opacity: 0.8;
    text-transform: capitalize;
}
.input-pro input:hover{
    opacity: 1;

}


.product-cart p
{
    margin-left: 20px;
    font-weight: 800;
    margin-top: -12px;
    margin-bottom: 6px;
    font-size: 19px;

}

.fa-trash{
    color: black;
    font-size: 30px;
    margin-left:490px;
    margin-top: 32px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;

}
.fa-trash:hover{
    color: orange;
    background-color: white;
    border-radius: 50%;
}

.product-detail h4{
    margin-left:20px;
    font-size: 18px;
}


.product-cart input {
    width: 35px;
    height: 30px;
    border-radius: 2px;
    outline: none;
    border: 1px solid orange;
    padding-left: 9px;
    margin-left: 3px;
}
.product-detail h3 {
    margin: 20px;
    font-size: 20px;
}

.product-cart h2 {
    margin-top: 22px;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 1px;
}

.product-cart {
    display: flex;
    margin-top: 16px;
    background-color: #ededed;
    border-radius: 10px;
    width: 950px;
    transition: 0.2s;
    height: 253px;
}
.product-detail{
    margin-top: 14px;
}
.product-cart:hover{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.product-img img {
    border-radius: 10px;
    width: 200px;
    height:240px;
}


/*---- Start the New letter Form-------- */

.news-form {
    max-width: 900px;
    margin-top: 30px;
    margin-left: 290px;
    text-align: center;
}

.news-form h1 {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
    color: orange;
}

.news-form p {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 50px auto;
    line-height: 30px;
    letter-spacing: 1px;
}

.email-box i {
    color: black;
    background: orange;
    width: 45px;
    border-radius: 5px;
    padding: 6px;
    line-height: 30px;
}

.email-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 45px;
    width: 880px;
}

.tbox,
.sub-btn {
    outline: none;
    border: none;
}

.tbox {
    border: 2px solid orange;
    border-radius: 4px;
    width: 0px;
    transition: 0.6s;

}

.email-box:hover>.tbox,
.tbox:focus {
    width: 500px;
    padding: 0px 10px;
}

.email-box a .sub-btn {
    text-transform: uppercase;
    padding: 0 10px;
    background: orange;
    height: 45px;
    border-radius: 4px;
    margin-left: -18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

/* ------ End of the Newletter Form-------- */


/*---------------start the footer content------ */
footer {
    background-color: #000;
    color: whitesmoke;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 300px;
    margin-top: 100px;

}

.bookstore_logo img {
    width: 200px;
    max-width: 1000px;

}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row ul li {
    list-style-type: none;
    margin: 4px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}

.icons {
    color: white;
}

.contact_us .useful_links {
    align-items: center;
}

.icons i {
    font-size: 30px;
    padding-left: 20px;
}

.icons h3 {
    margin-left: 45px;
    color: red;
}

.useful_links h3 {
    margin-left: 5px;
}

.row ul li:hover {
    text-decoration: underline;
    color: crimson;
}

/* -----END OF THE FOOTER CONTENT-----*/





